body {
    background-color: $primary-color;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $dark-100-color;
    @include respond-to($md) {
        font-size: 14px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border:0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.text-center {
    text-align: center;
}
.dynamic-contetn {
    p {
        margin-bottom: 14px;
    }
}