//fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Slab', serif;

//colors
$primary-color: #ffffff;
$d: #fefefe;
$secondary-color: #90d23d;
$dark-green: #46be09;
$dark-color: #373737;
$dark-100-color:  #242424;
$dark-200-color: #252525;
$dark-300-color: #4b4d4f;
$dark-400-color: #373737;
$dark-500-color: #454444;
$light-broun: #d6c5c5;
$grey: #6c6c6c;
$light-grey: #bebebe;


//breakpoints
$xs: '(max-width: 420px)';
$sm: '(min-width: 540px)';
$md: '(min-width: 720px)';
$lg: '(min-width: 1030px)';
$xl: '(min-width: 1030px)'