.header-site {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: transparent;
    padding: 15px 0 15px 0;
    z-index: 9999;
    @media all and (max-width: 1030px) {
        .container {
            width: 100%;
            max-width: none;
        }
    }
    @media all and (min-width: 1400px){
        padding: 45px 0 45px 0;
    }
    .container-default {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @include respond-to($lg) {
            align-items: flex-end;
        }
    }
    .logo-site {
        max-width: 130px;
        display: block;
        @include respond-to($sm) {
            max-width: 180px;
        }
    }
    .img-logo-site {
        display: block;
        width: 100%;
        height: auto;
    }
    .header-menu {
        width: 100%;
        max-width: 735px;
    }
    .btn-burger {
        right: 0;
        top: 35px;
        background: transparent;
        border: none;
        color: $primary-color;
        cursor: pointer;
        &:hover,
        &:focus {
            color: $secondary-color;
            outline: 1px solid $secondary-color;
        }
        @include respond-to($lg) {
            display: none;
        }
    }
    .fa {
        display: inline-block;
        font: normal normal normal 20px/1 FontAwesome;
        font-size: 30px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
}