html, body {
  width: 100%;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font: 16px/1.5 Arial, sans-serif;
  background: #fff;
  -webkit-font-smoothing: antialiased; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea, header, nav, section, article, aside, footer, blockquote, figure {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

header, nav, section, article, aside, footer {
  display: block; }

select, input, textarea {
  font: inherit;
  color: inherit;
  vertical-align: middle; }

textarea {
  vertical-align: top;
  resize: none; }

:focus {
  outline: none; }

input[type=submit], button {
  cursor: pointer; }

img, fieldset {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  font: inherit;
  color: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #242424; }
  @media only screen and (min-width: 720px) {
    body {
      font-size: 14px; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.text-center {
  text-align: center; }

.dynamic-contetn p {
  margin-bottom: 14px; }

.card-title {
  font-size: 30px;
  font-weight: 900;
  color: #242424; }

.text-xl {
  font-size: 35px;
  font-weight: 900;
  color: #242424; }
  @media only screen and (min-width: 540px) {
    .text-xl {
      font-size: 50px; } }

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }

.container-default {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }
  @media only screen and (max-width: 420px) {
    .container-default {
      max-width: 420px; } }
  @media only screen and (min-width: 540px) {
    .container-default {
      max-width: 420px; } }
  @media only screen and (min-width: 720px) {
    .container-default {
      max-width: 720px; } }
  @media only screen and (min-width: 1100px) {
    .container-default {
      max-width: 1030px; } }

.header-site {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  padding: 15px 0 15px 0;
  z-index: 9999; }
  @media all and (max-width: 1030px) {
    .header-site .container {
      width: 100%;
      max-width: none; } }
  @media all and (min-width: 1400px) {
    .header-site {
      padding: 45px 0 45px 0; } }
  .header-site .container-default {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (min-width: 1100px) {
      .header-site .container-default {
        align-items: flex-end; } }
  .header-site .logo-site {
    max-width: 130px;
    display: block; }
    @media only screen and (min-width: 540px) {
      .header-site .logo-site {
        max-width: 180px; } }
  .header-site .img-logo-site {
    display: block;
    width: 100%;
    height: auto; }
  .header-site .header-menu {
    width: 100%;
    max-width: 735px; }
  .header-site .btn-burger {
    right: 0;
    top: 35px;
    background: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer; }
    .header-site .btn-burger:hover, .header-site .btn-burger:focus {
      color: #90d23d;
      outline: 1px solid #90d23d; }
    @media only screen and (min-width: 1100px) {
      .header-site .btn-burger {
        display: none; } }
  .header-site .fa {
    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    font-size: 30px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; }

.footer {
  background: #90d23d;
  padding: 40px 0;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  font-size: 18px; }
  @media only screen and (min-width: 1100px) {
    .footer {
      padding-top: 60px; } }
  .footer .list-social {
    margin-bottom: 33px; }
  .footer .item-social {
    display: inline-block;
    margin-right: 10px; }
    .footer .item-social:last-child {
      margin-right: 0; }
  .footer .link-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #ffffff; }
  .footer .fa {
    color: #90d23d;
    font-size: 30px; }
    .footer .fa:hover, .footer .fa:focus {
      color: #000; }

.menu {
  display: none;
  margin: 0; }
  @media only screen and (min-width: 1100px) {
    .menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end; } }
  .menu .menu-item {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    text-align: right; }
    .menu .menu-item:last-child {
      border: none; }
    @media only screen and (min-width: 1100px) {
      .menu .menu-item {
        display: inline-block;
        border: none;
        margin-left: 40px; } }
    .menu .menu-item a {
      display: block;
      padding: 20px 0;
      text-transform: uppercase;
      color: inherit;
      text-align: left;
      transition: .35s; }
      .menu .menu-item a:hover, .menu .menu-item a:focus {
        color: #90d23d; }

@media all and (max-width: 1030px) {
  .header-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 320px;
    width: 100%;
    background: #373737;
    padding: 40px 20px;
    max-height: 100%;
    overflow-y: auto;
    text-align: right;
    font-size: 15px;
    font-weight: 100;
    transform: translateX(100%);
    transition: .6s ease;
    z-index: 9999; }
    .header-menu.open {
      transform: translateX(0); }
      .header-menu.open .menu {
        display: block; } }

.header-menu .btn-close {
  background: transparent;
  border: none;
  font-family: "Font Awesome";
  font-size: 30px;
  margin-bottom: 20px; }
  .header-menu .btn-close:hover, .header-menu .btn-close:focus {
    color: #90d23d; }
  @media only screen and (min-width: 1100px) {
    .header-menu .btn-close {
      display: none; } }

.btn {
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  padding: 18px 25px 17px;
  background-color: #90d23d;
  border-radius: 15px;
  text-align: center;
  transition: .35s; }
  .btn-main {
    min-width: 200px;
    border: 2px solid #90d23d; }
    .btn-main:hover, .btn-main:focus {
      background-color: transparent; }
  .btn-submit {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 22px;
    font-weight: 400;
    box-shadow: none;
    border: 0;
    border-radius: 5px;
    transition: .35s; }
    .btn-submit:hover, .btn-submit:focus {
      background-color: #373737; }
  .btn-dark {
    background-color: #373737;
    border: #373737; }
    .btn-dark:hover, .btn-dark:focus {
      background-color: #90d23d; }

.form {
  font-size: 19px;
  text-align: center;
  color: #6c6c6c;
  box-shadow: 0px 1px 2px 0 rgba(35, 31, 32, 0.65); }
  .form .form-item {
    margin-bottom: 20px; }
  .form .input {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 20px 0 15px 15px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    color: inherit; }
    .form .input:focus {
      border: 1px solid #90d23d;
      box-shadow: 0 0 0 3px rgba(70, 190, 9, 0.25); }
    .form .input .title-form {
      font-size: 30px;
      font-weight: bold;
      color: #252525;
      margin-bottom: 20px; }
  .form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #bebebe; }
  .form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #bebebe; }
  .form :-ms-input-placeholder {
    /* IE 10+ */
    color: #bebebe; }
  .form :-moz-placeholder {
    /* Firefox 18- */
    color: #bebebe; }
  .form .title-form {
    font-size: 24px;
    font-weight: bold;
    color: #252525;
    margin-bottom: 20px; }
    @media only screen and (min-width: 540px) {
      .form .title-form {
        font-size: 30px; } }
  .form .title-form {
    font-size: 24px;
    font-weight: bold;
    color: #252525;
    margin-bottom: 20px; }
    @media only screen and (min-width: 540px) {
      .form .title-form {
        font-size: 30px; } }
  .form .text-form {
    font-size: 15px; }
  .form-registration {
    width: 100%;
    max-width: 430px;
    padding: 33px 30px 21px;
    margin: 0 auto 40px;
    background: #ffffff; }
    .form-registration .form-item {
      margin-bottom: 28px; }
  .form-contact {
    box-shadow: none;
    border: none; }

.accordeon {
  width: 100%;
  border-radius: 15px;
  overflow: hidden; }
  .accordeon .panel-accordion-heading {
    display: flex;
    width: 100%;
    background-color: #90d23d;
    font-size: 20px;
    color: #ffffff; }
  .accordeon .panel:nth-of-type(odd) .panel-heading {
    background-color: #4b4d4f; }
  .accordeon .panel:nth-of-type(even) .panel-heading {
    background-color: #373737; }
  .accordeon .panel-heading {
    display: flex;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0; }
    .accordeon .panel-heading:hover, .accordeon .panel-heading:focus {
      opacity: .8; }
  .accordeon .link-heading-panel {
    display: flex;
    width: 100%; }
  .accordeon .time-spending {
    width: 20%;
    padding: 10px 0;
    text-align: center; }
    @media only screen and (min-width: 720px) {
      .accordeon .time-spending {
        width: 30%;
        padding: 16px 20px 13px;
        font-size: 22px;
        font-weight: 400; } }
  .accordeon .accordion-title-time {
    width: 20%;
    padding: 10px 0;
    text-align: center; }
    @media only screen and (min-width: 720px) {
      .accordeon .accordion-title-time {
        width: 30%;
        padding: 19px 20px 15px;
        font-size: 30px;
        font-weight: 900; } }
  .accordeon .accordion-title-event {
    width: 80%;
    padding: 10px 35px 10px 20px; }
    @media only screen and (min-width: 720px) {
      .accordeon .accordion-title-event {
        width: 70%;
        padding: 19px 80px 15px 0;
        font-size: 30px;
        font-weight: 900; } }
  .accordeon .event {
    position: relative;
    width: 80%;
    padding: 10px 35px 10px 20px; }
    @media only screen and (min-width: 720px) {
      .accordeon .event {
        width: 70%;
        font-size: 22px;
        font-weight: 400;
        padding: 16px 80px 13px 0; } }
    .accordeon .event .open-panel {
      position: absolute;
      background-image: url(../img/more-icon.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 25px; }
      @media only screen and (min-width: 720px) {
        .accordeon .event .open-panel {
          right: 50px;
          width: 34px;
          height: 34px; } }
  .accordeon .panel-collapse {
    display: none;
    padding: 15px;
    border: 1px solid #6c6c6c; }
  .accordeon .open {
    display: block; }
    .accordeon .open .open-panel {
      background-image: url(../img/minus.svg); }

.wraper-coutdown {
  margin: 0 auto;
  width: 100%;
  max-width: 470px;
  background: transparent;
  border: 2px solid #90d23d;
  border-radius: 10px;
  padding: 25px 10px 20px; }
  @media all and (orientation: landscape) {
    .wraper-coutdown {
      padding: 10px; } }
  @media only screen and (min-width: 1100px) {
    .wraper-coutdown {
      max-width: 970px;
      padding: 5px 80px 20px; } }
  .wraper-coutdown #countdown {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 35px;
    color: #ffffff; }
    @media only screen and (min-width: 1100px) {
      .wraper-coutdown #countdown {
        font-size: 120px;
        font-weight: 100; } }
  .wraper-coutdown .content-counter {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .wraper-coutdown .signature-counter {
    display: block;
    font-size: 12px;
    text-transform: uppercase; }
    @media only screen and (min-width: 1100px) {
      .wraper-coutdown .signature-counter {
        font-size: 25px;
        font-weight: 400; } }

.section-banner {
  padding: 120px 0 200px;
  overflow: hidden; }
  @media only screen and (min-width: 1100px) {
    .section-banner {
      padding-top: 225px;
      padding-bottom: 225px; } }
  @media only screen and (min-width: 1300px) {
    .section-banner {
      min-height: 770px; } }
  .section-banner:after {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1; }
  .section-banner:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 35px 100vw;
    border-color: transparent transparent #ffffff transparent;
    z-index: 3; }
    @media only screen and (min-width: 540px) {
      .section-banner:before {
        border-width: 0 0 58px 100vw; } }
    @media only screen and (min-width: 720px) {
      .section-banner:before {
        border-width: 0 0 120px 100vw; } }
  .section-banner .container-default {
    position: relative;
    z-index: 2; }
  .section-banner .wrapper-animate {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    z-index: 2; }
    @media only screen and (min-width: 540px) {
      .section-banner .wrapper-animate {
        bottom: 20px; } }
    .section-banner .wrapper-animate .container {
      padding-bottom: 0; }
      @media only screen and (min-width: 540px) {
        .section-banner .wrapper-animate .container {
          padding-bottom: 11px; } }
      @media all and (orientation: landscape) {
        .section-banner .wrapper-animate .container {
          padding-left: 7%; } }
      @media only screen and (min-width: 720px) {
        .section-banner .wrapper-animate .container {
          padding-left: 50px; } }
      @media only screen and (min-width: 1100px) {
        .section-banner .wrapper-animate .container {
          padding-bottom: 40px;
          padding-left: 0; } }
      @media only screen and (min-width: 1300px) {
        .section-banner .wrapper-animate .container {
          padding-bottom: 50px;
          padding-left: 0; } }
    .section-banner .wrapper-animate .list-icon-event {
      display: flex;
      transform: rotate(-4deg);
      transform-origin: 100%; }
    .section-banner .wrapper-animate .item-icon-event {
      animation: move 1.5s ease-in-out forwards;
      max-width: 100px;
      margin-left: -5%;
      opacity: 0; }
      @media only screen and (min-width: 720px) {
        .section-banner .wrapper-animate .item-icon-event {
          max-width: 150px; } }
      @media only screen and (min-width: 1300px) {
        .section-banner .wrapper-animate .item-icon-event {
          max-width: 185px; } }
      .section-banner .wrapper-animate .item-icon-event:first-child {
        margin-left: 0; }
      .section-banner .wrapper-animate .item-icon-event:nth-of-type(1) {
        z-index: 5;
        animation-delay: .1s; }
      .section-banner .wrapper-animate .item-icon-event:nth-of-type(2) {
        z-index: 4;
        animation-delay: .2s; }
      .section-banner .wrapper-animate .item-icon-event:nth-of-type(3) {
        z-index: 3;
        animation-delay: .3s; }
      .section-banner .wrapper-animate .item-icon-event:nth-of-type(4) {
        z-index: 2;
        animation-delay: .4s; }
      .section-banner .wrapper-animate .item-icon-event:nth-of-type(5) {
        z-index: 1;
        animation-delay: .5s; }
    .section-banner .wrapper-animate .img-icon-event {
      width: 100%;
      height: auto;
      display: block; }

@keyframes move {
  from {
    opacity: 1;
    transform: translate(100vw, 0px) rotate(0); }
  to {
    opacity: 1;
    transform: translate(0, 0) rotate(-720deg);
    bottom: 20px; } }

.section-schedule {
  position: relative;
  background: #ffffff;
  padding: 50px 0; }
  .section-schedule:after {
    position: absolute;
    content: "";
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 100vw 0 0;
    border-color: #ffffff transparent transparent transparent;
    z-index: 2; }
    @media only screen and (min-width: 540px) {
      .section-schedule:after {
        border-width: 58px 100vw 0 0;
        bottom: -58px; } }
    @media only screen and (min-width: 720px) {
      .section-schedule:after {
        border-width: 80px 100vw 0 0;
        bottom: -80px; } }
    @media only screen and (min-width: 1100px) {
      .section-schedule:after {
        border-width: 120px 100vw 0 0;
        bottom: -118px; } }
  @media only screen and (min-width: 1100px) {
    .section-schedule {
      padding-bottom: 160px; } }
  @media only screen and (min-width: 1100px) {
    .section-schedule .greeting {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      padding-bottom: 140px; } }
  .section-schedule .box-motivation {
    width: 100%; }
    @media only screen and (min-width: 1100px) {
      .section-schedule .box-motivation {
        width: 57%;
        padding-right: 75px; } }
  .section-schedule .form-registration {
    width: 100%;
    margin-top: 45px; }
    @media only screen and (min-width: 1100px) {
      .section-schedule .form-registration {
        position: relative;
        width: 43%;
        max-width: 430px;
        margin-top: -300px;
        margin-bottom: 0;
        z-index: 4; } }
  .section-schedule .motivation {
    margin-bottom: 20px; }
  .section-schedule .list-subjects {
    width: 100%; }
    @media only screen and (min-width: 720px) {
      .section-schedule .list-subjects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; } }
    @media only screen and (min-width: 1100px) {
      .section-schedule .list-subjects {
        margin-bottom: 50px; } }
  .section-schedule .item-subjects {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px; }
    @media only screen and (min-width: 720px) {
      .section-schedule .item-subjects {
        width: 50%; } }
  .section-schedule .card-subjects {
    width: 100%;
    padding: 0 5px 30px;
    text-align: center; }
  .section-schedule .bg-icon-event {
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 143px;
    height: 130px;
    margin: 0 auto 20px; }
  .section-schedule .card-title {
    margin-bottom: 15px; }
  .section-schedule .accordeon {
    margin: 0 auto 40px; }

.section-reward {
  padding: 70px 0; }
  @media only screen and (min-width: 540px) {
    .section-reward {
      padding: 130px 0; } }
  @media only screen and (min-width: 1100px) {
    .section-reward {
      padding: 170px 0 175px; } }
  .section-reward .container-default {
    position: relative;
    text-align: right;
    z-index: 2; }
  .section-reward .wrap-img-revard {
    position: absolute;
    top: -105px;
    width: 110px;
    height: auto;
    z-index: 3; }
    @media only screen and (min-width: 540px) {
      .section-reward .wrap-img-revard {
        width: 185px;
        height: auto;
        top: -180px; } }
    @media only screen and (min-width: 720px) {
      .section-reward .wrap-img-revard {
        top: -150px; } }
    @media only screen and (min-width: 1100px) {
      .section-reward .wrap-img-revard {
        width: 242px;
        height: 357px;
        top: -192px; } }
    @media only screen and (min-width: 1300px) {
      .section-reward .wrap-img-revard {
        width: 354px;
        height: 357px;
        top: -260px; } }
  .section-reward .img-revard {
    display: block;
    width: 100%;
    height: auto; }
  .section-reward .conditions-text {
    max-width: 665px;
    margin-left: auto;
    margin-bottom: 35px; }
  .section-reward .wrap-btn {
    text-align: center; }
    @media only screen and (min-width: 1100px) {
      .section-reward .wrap-btn {
        text-align: right; } }
  .section-reward .section-title {
    margin-bottom: 20px; }
    @media only screen and (min-width: 540px) {
      .section-reward .section-title {
        margin-bottom: 35px; } }
    @media only screen and (min-width: 1100px) {
      .section-reward .section-title {
        margin-bottom: 35px; } }

.section-speakers {
  position: relative;
  padding: 50px 0; }
  .section-speakers:after {
    position: absolute;
    content: "";
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 100vw 0 0;
    border-color: #ffffff transparent transparent transparent;
    z-index: 2; }
    @media only screen and (min-width: 540px) {
      .section-speakers:after {
        border-width: 58px 100vw 0 0;
        bottom: -58px; } }
    @media only screen and (min-width: 720px) {
      .section-speakers:after {
        border-width: 80px 100vw 0 0;
        bottom: -80px; } }
    @media only screen and (min-width: 1100px) {
      .section-speakers:after {
        border-width: 120px 100vw 0 0;
        bottom: -118px; } }
  @media only screen and (min-width: 1100px) {
    .section-speakers {
      padding: 145px 0 180px; } }
  .section-speakers .section-title {
    margin-bottom: 20px;
    margin-left: 15px; }
    @media only screen and (min-width: 540px) {
      .section-speakers .section-title {
        margin-bottom: 20px; } }
  .section-speakers .text-section {
    width: 100%;
    max-width: 575px;
    margin-bottom: 30px;
    margin-left: 15px; }
    @media only screen and (min-width: 1100px) {
      .section-speakers .text-section {
        margin-bottom: 60px; } }
  .section-speakers .list-speakers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 970px;
    margin: 0 auto; }
    @media only screen and (min-width: 720px) {
      .section-speakers .list-speakers {
        justify-content: space-between; } }
  .section-speakers .item-speaker {
    position: relative;
    width: 100%;
    max-width: 295px;
    background-color: #90d23d;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto 40px; }
    @media only screen and (min-width: 720px) {
      .section-speakers .item-speaker {
        width: 47%; } }
    @media only screen and (min-width: 1100px) {
      .section-speakers .item-speaker {
        width: 32%;
        margin: 0 0 40px; } }
  .section-speakers .item-card-icon {
    width: 100%;
    max-width: 295px;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 auto 40px;
    padding: 30px; }
    @media only screen and (min-width: 720px) {
      .section-speakers .item-card-icon {
        width: 47%; } }
    @media only screen and (min-width: 1100px) {
      .section-speakers .item-card-icon {
        width: 32%; } }
  .section-speakers .img-icon-big {
    display: block;
    width: 100%;
    height: auto;
    vertical-align: middle; }
  .section-speakers .card-img-speaker {
    position: relative;
    padding-top: 100%;
    overflow: hidden; }
  .section-speakers .img-speaker {
    position: absolute;
    top: 0;
    display: block;
    max-width: 100%;
    min-height: 100%; }
  .section-speakers .overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 35px 30px 25px;
    color: #ffffff;
    background-color: #90d23d;
    background-image: url(../img/bg-overlay.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    opacity: 0;
    transition: .5s; }
    .section-speakers .overlay:hover {
      opacity: .9; }
    .section-speakers .overlay .item-social {
      display: inline-block;
      margin-right: 5px; }
      .section-speakers .overlay .item-social:last-child {
        margin-right: 0; }
    .section-speakers .overlay .link-social {
      display: flex;
      font-size: 20px;
      justify-content: center;
      align-items: center;
      width: 31px;
      height: 31px;
      border-radius: 50%;
      color: #46be09;
      background-color: #ffffff;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
      transition: .35s; }
      .section-speakers .overlay .link-social:hover, .section-speakers .overlay .link-social:focus {
        color: #373737; }
  .section-speakers .title-overlay {
    position: relative;
    font-size: 45px;
    font-weight: 900;
    line-height: .97;
    padding-bottom: 13px;
    margin-bottom: 20px; }
    .section-speakers .title-overlay:after {
      position: absolute;
      content: '';
      display: block;
      width: 83px;
      height: 6px;
      background-color: #ffffff;
      left: 0;
      bottom: 0; }
  .section-speakers .text-overlay {
    font-size: 18px;
    font-weight: 500;
    color: #fefefe; }

.section-sponsors {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 700px;
  padding: 70px 0;
  color: #ffffff; }
  @media only screen and (min-width: 540px) {
    .section-sponsors {
      padding: 100px 0 130px; } }
  @media only screen and (min-width: 1100px) {
    .section-sponsors {
      padding: 170px 0 130px; } }
  .section-sponsors:after {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1; }
  .section-sponsors .container-default {
    position: relative;
    text-align: center;
    z-index: 2; }
  .section-sponsors .section-title {
    margin-bottom: 20px;
    color: inherit; }
    @media only screen and (min-width: 540px) {
      .section-sponsors .section-title {
        margin-bottom: 25px; } }
  .section-sponsors .list-sponsors {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }
    @media only screen and (min-width: 540px) {
      .section-sponsors .list-sponsors {
        justify-content: space-between;
        margin-bottom: 30px; } }
    @media only screen and (min-width: 720px) {
      .section-sponsors .list-sponsors {
        margin-bottom: 65px; } }
  .section-sponsors .item-sponsor {
    width: 100%;
    max-width: 178px;
    margin: 0 auto 30px; }
    @media only screen and (min-width: 540px) {
      .section-sponsors .item-sponsor {
        width: 50%; } }
    @media only screen and (min-width: 720px) {
      .section-sponsors .item-sponsor {
        width: 30%;
        margin-bottom: 0; } }
  .section-sponsors .wrap-img-sponsor {
    width: 100%;
    height: auto; }
  .section-sponsors .img-sponsor {
    display: block;
    width: 100%;
    height: auto; }
  @media only screen and (min-width: 540px) {
    .section-sponsors .block-text {
      margin-bottom: 53px; } }

.section-past-event {
  padding: 50px 0; }
  @media only screen and (min-width: 1100px) {
    .section-past-event {
      padding: 110px 0 95px; } }
  @media only screen and (min-width: 1100px) {
    .section-past-event .box-text-past-event {
      margin-bottom: 90px; } }
  .section-past-event .text-section {
    width: 100%;
    max-width: 595px; }
  .section-past-event .list-past-event {
    margin-bottom: 25px; }
    @media only screen and (min-width: 540px) {
      .section-past-event .list-past-event {
        margin-bottom: 40px; } }
    @media only screen and (min-width: 1100px) {
      .section-past-event .list-past-event {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 100px; } }
  .section-past-event .item-past-event {
    overflow: hidden;
    margin-bottom: 15px; }
    @media only screen and (min-width: 1100px) {
      .section-past-event .item-past-event {
        width: 45%;
        max-width: 570px;
        flex-grow: 1;
        margin: 0; } }
  @media only screen and (min-width: 1100px) and (min-width: 1100px) {
    .section-past-event .item-past-event:nth-child(3n+1) {
      width: 55%;
      max-width: 600px; } }
  .section-past-event .link-event {
    position: relative;
    display: block;
    width: 100%;
    max-width: 700px;
    padding-top: 60%;
    margin: 0 auto; }
    @media only screen and (min-width: 540px) {
      .section-past-event .link-event:nth-child(3n+1) {
        padding-top: 67%; } }
    @media only screen and (min-width: 1100px) {
      .section-past-event .link-event:nth-child(3n+1) {
        padding-top: 53%; } }
  .section-past-event .img-past-event {
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    transition: .5s; }
    .section-past-event .img-past-event:hover {
      transform: scale(1.5); }
  .section-past-event .btn-wrap {
    text-align: center; }
  .section-past-event .section-title {
    margin-bottom: 20px; }
    @media only screen and (min-width: 540px) {
      .section-past-event .section-title {
        margin-bottom: 35px; } }

.section-contact {
  position: relative;
  background-image: url(../img/map.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 660px;
  padding: 50px 0;
  color: #ffffff; }
  @media only screen and (min-width: 1100px) {
    .section-contact {
      padding: 65px 0; } }
  .section-contact:after {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1; }
  .section-contact .container-default {
    position: relative; }
  .section-contact .content-box {
    position: relative;
    max-width: 970px;
    padding: 60px 30px 50px;
    background: #ffffff;
    color: #454444;
    z-index: 2; }
    @media only screen and (min-width: 720px) {
      .section-contact .content-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 70px;
        padding-right: 70px; } }
  .section-contact .adress {
    text-align: center;
    padding-top: 15px;
    margin: 0 auto; }
    @media only screen and (min-width: 720px) {
      .section-contact .adress {
        max-width: 330px; } }
    @media only screen and (min-width: 1100px) {
      .section-contact .adress {
        padding: 35px 30px 0; } }
  .section-contact .wrap-icon {
    background-image: url(../img/icon-3.png);
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto 20px;
    width: 132px;
    height: 140px; }
    @media only screen and (min-width: 1100px) {
      .section-contact .wrap-icon {
        margin-bottom: 45px; } }
  .section-contact .text-adress {
    margin-bottom: 27px; }
  .section-contact .btn-main {
    margin-bottom: 30px; }
    .section-contact .btn-main:hover, .section-contact .btn-main:focus {
      color: #373737; }
  .section-contact .form-contact {
    margin: 0 auto; }

.wrapper {
  overflow: hidden; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown; }
  @media only screen and (min-width: 720px) {
    .bounceInDown {
      margin-bottom: 20px; } }
  @media only screen and (min-width: 1300px) {
    .bounceInDown {
      margin-bottom: 0; } }

.text-section {
  margin-bottom: 16px; }

.section-bg {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #d6c5c5;
  width: 100%;
  color: #ffffff; }
  .section-bg:after {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1; }
  .section-bg:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 100vw;
    border-color: transparent transparent #ffffff transparent;
    z-index: 3; }
    @media only screen and (min-width: 720px) {
      .section-bg:before {
        border-width: 0 0 80px 100vw; } }
    @media only screen and (min-width: 1100px) {
      .section-bg:before {
        border-width: 0 0 120px 100vw; } }
  .section-bg .section-bg-title {
    margin-bottom: 20px;
    color: inherit; }
    @media only screen and (min-width: 540px) {
      .section-bg .section-bg-title {
        margin-bottom: 37px; } }

/*# sourceMappingURL=map/main.css.map */
