@import "../components/home/section-banner";
@import "../components/home/section-schedule";
@import "../components/home/section-reward";
@import "../components/home/section-speakers";
@import "../components/home/section-sponsors";
@import "../components/home/section-past-event";
@import "../components/home/section-contact";

.wrapper {
    overflow: hidden;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    @include respond-to($md){
          margin-bottom: 20px;
      }
    @include respond-to($xl){
        margin-bottom: 0;
    }
}

.text-section {
    margin-bottom: 16px;
}

.section-bg {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $light-broun;
    width: 100%;
    color: $primary-color;
    &:after {
        position: absolute;
        content: "";
        background: rgba(0, 0, 0, 0.7);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
    &:before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 50px 100vw;
        border-color: transparent transparent $primary-color transparent;
        z-index: 3;

        @include respond-to($md) {
            border-width: 0 0 80px 100vw;
        }
        @include respond-to($lg) {
            border-width: 0 0 120px 100vw;
        }
    }
    .section-bg-title {
        margin-bottom: 20px;
        color: inherit;
        @include respond-to($sm) {
            margin-bottom: 37px;
        }
    }
}














